/* Pro správné zobrazení na mobilních zařízeních musí být v <head>
 <meta name="viewport" content="width=device-width, initial-scale=1">
 https://css-tricks.com/snippets/html/responsive-meta-tag/
 */
section div,
header .background > div {
    padding: 3rem 1rem;
    max-width:100%;
}

header{
    background-color: rgb(80,9,9);
}

section:nth-child(odd) {
    background-color: rgb(17,3,3);
    color: white;    
}

section:nth-child(even) {
    background-color: rgb(80,9,9);
    color: black;
}

#pobocky{
    text-align: center;
}

table.otevdoba, table.otevdoba td{
    border: solid 2px; 
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
}





nav {
    background-color: rgb(17,3,3);
}
nav a {
    color: white;
    display: block;
    text-decoration: none;
    font-family: Calibri;
}
nav a:hover,
nav a:focus,

nav a:active {
  background-color: rgb(80,9,9);
}

#produkty figure{
    text-align: center;
}

form input,
form textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 0.15rem solid rgba(255, 255, 255, 0.2);
    background-color: white;
    color: black;
    display: block;
    width: 75%;
}

form button {
    background-color: white;
    color: #245e75;
    border: none;
    border-radius: 0.5rem;
    padding: 0.6rem 0.8rem;
}

form button:hover {
    cursor: pointer;
    background-color: #ccc;
}

footer {
    text-align: center;
    padding: 1rem 1rem;
    background-color: rgb(80,9,9);
}

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
    nav a {
        display: inline-block;
        padding: 1rem;
    }

    .container {
        width: 40rem;
        margin: 0 auto;
    }

    .flex-container {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        background: darkviolet;
        justify-content: space-around;
    }

    figure{
        background: orange;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    nav {
        position: sticky;
        top:0;
    }

    

    

    .background .container {
        text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



}

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
    nav a {
        padding: 2rem;

    }

    .container {
        width: 64rem;
    }


}

/*// XLarge screens*/
@media only screen and (min-width: 90.063em) {
    nav a {
        padding: 3rem;

    }
}